<launch>

    <include file="$(find mbot_navigation)/launch/gmapping.launch"/>

    <!-- 运行move_base节点 -->
    <include file="$(find mbot_navigation)/launch/move_base.launch" />
    <!-- <node
        pkg="mbot_navigation"
        type="NavTest.py"
        name="NavTest"
        output="screen"
        launch-prefix="python3"
    /> -->
    <!-- 运行rviz -->
    <node pkg="rviz" type="rviz" name="rviz" args="-d $(find mbot_navigation)/rviz/nav.rviz"/>

</launch>
