<launch>
  <arg name="use_sim_time" default="true"/>

  <!-- <include file="$(find limo_description)/launch/limo_ackerman.launch">
    <arg name="robot_namespace" value="/"/>
  </include> -->

  <node name="move_base" pkg="move_base" type="move_base" output="screen">
    <param name="base_global_planner" value="navfn/NavfnROS"/>
    <param name="base_local_planner" value="teb_local_planner/TebLocalPlannerROS"/>
    <rosparam file="$(find limo_navigation)/config/move_base_params.yaml" command="load"/>
    <rosparam file="$(find limo_navigation)/config/teb_local_planner_params.yaml" command="load"/>
  </node>
</launch>